* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container {
    /*margin-left: auto !important;
    margin-right: auto !important;*/
    padding: 1em 0 1em 0;
}

.form-table {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 1em;
}

    /*.login-table tr {

    }*/

    .form-table td {
        padding: 0 5px 0 5px;
    }

.textbox {
    text-decoration: none;
    height: 1.5em;
    width: 20em;
    padding: 1em 1em 1em 1em;
    border: 1px solid black;
    border-radius: 0.5em;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: antiquewhite;
}

.dropdown-list {
    text-decoration: none;
    height: 2.2em;
    width: 20em;
    /*padding: 1em 1em 1em 1em;*/
    border: 1px solid black;
    border-radius: 0.5em;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: antiquewhite;
}

.checkbox {
    padding-top: 1em;
}

.submit-link {
    text-decoration: none;
    text-align: center;
    height: 2em;
    width: 14.5em;
    /*margin: 0 0.2em 0.2em 0;*/
    border: 1px solid black;
    border-radius: 0.5em;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
    background-color: seagreen;
    cursor: pointer;
}

.login-validation-message {
    color: red;
    font-size: 12px;
    padding: 0;
}

.login-error {
    color: red;
    font-size: 12px;
    padding: 0;
}
