* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5%;
    min-width: 100%;
    min-height: 8vh;
    font-family: 'Roboto', sans-serif;
    background-color: seagreen;
}

    #top-nav a {
        display: block;
        height: 8vh;
        padding: 0 20px;
        display: flex;
        align-items: center;
        transition: background 0.4s;
    }

        #top-nav a:hover {
            background-color: #54a075;
        }

#top-logo {
    margin-right: auto;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 24px;
    color: blanchedalmond;
}

#top-menu {
    list-style: none;
    display: flex;
}

    #top-menu li {
        display: inline-block;
        position: relative;
    }

        #top-menu li a {
            text-decoration: none;
            letter-spacing: 3px;
            font-size: 16px;
            color: blanchedalmond;
            cursor: pointer;
        }

#top-user-menu {
    list-style: none;
    display: flex;
    text-decoration: none;
    background-color: #1d5837 /*#303030*/;
}

    #top-user-menu li {
        display: inline-block;
        position: relative;
    }

        #top-user-menu li a {
            text-decoration: none;
            letter-spacing: 3px;
            font-size: 16px;
            color: blanchedalmond;
            cursor: pointer;
        }

        #top-user-menu li:hover #dropdown-user-menu > li {
            display: block;
            top: 0px;
        }

#dropdown-user-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

    #dropdown-user-menu li {
        display: none;
        position: relative;
        top: 0px;
        background-color: seagreen;
        opacity: 0.85;
    }
